.icons{
  padding: 50px 50px 50px 50px;
  display: grid;
  grid-template-columns: 24vh 24vh 24.5vh 24vh 24vh 24vh;
  grid-template-rows: 24.5vh 24.5vh 24.5vh;
  justify-content: center;
}

#logo, .icon{
  display: inline;
  height: 23vh;
  width:auto;
}

.icon{
  transform: (0.9);
}

.icon:hover{
  transform: scale(1.2);
}


.back-button{
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 3.5vh;
  border: none;
  padding: 5px 0 0 0 ;
}
